<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>

<%= "GoogleMapAPI" %>

  <script src="http://maps.google.com/maps?file=api&amp;v=2&amp;sensor=true_or_false
    &amp;key=ABQIAAAAf-HhJyENb3Pby8oH3XPARxT2yXp_ZAY8_ufC3CFXhHIE1NvwkxQ_EccYJYji1BeiA65e5umP4mCwng"
    type="text/javascript">
  </script>
